.card {
  max-width: 413px;
  position: relative;
}
.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 337px;
  margin: 0;
}

.card__like-button {
  background-image: url(../images/heart_btn.svg);
  width: 23px;
  height: 20px;
  gap: 0px;
  border: none;
  border-color: transparent;
  opacity: 40%;
  background-size: 100% 100%;
  background-color: #fcf5e5;
}

.card__like-button:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-icon-default.svg);
  color: white;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
}

@media screen and (max-width: 627px) {
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
