.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  /* width: 420px;
  height: 32px; */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 0 12px 0;
  /* width: 97px;
  height: 16px; */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  /* width: 84px;
  height: 16px; */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  opacity: 70%;
  display: flex;
  gap: 8px;
  padding: 0;
}

.profile__edit-btn:hover {
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  align-self: flex-end;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.profile__add-btn:hover {
  cursor: pointer;
  background: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin: 0 0 32px;
    padding: 0;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    height: 52px;
  }
}
